@font-face {
  font-family: "Almarai-Bold";
  src: url("./assets/fonts/Almarai-Bold.ttf") format("truetype"); /* Adjust the path to your font file */
}
@font-face {
  font-family: "Almarai-Regular";
  src: url("./assets/fonts/Almarai-Regular.ttf") format("truetype"); /* Adjust the path to your font file */
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url("./assets/fonts/Almarai-ExtraBold.ttf") format("truetype"); /* Adjust the path to your font file */
}
body {
  font-family: "Almarai-Regular";
  font-size: 18px;
}
h1 {
  font-family: "Almarai-ExtraBold";
  /* font-weight: bolder; */
  font-size: 30pt;
  width: fit-content;
  color: #f7850c;
  border-bottom: 3px solid #1aaa81;
  padding: 15px;
}
#pdf-content {
  /* font-family: "Amiri-Regular", serif; */
}
#pdf-title,
#pdf-header,
#pdf-register-title {
  position: relative;
}
.primary-text {
  color: #1aaa81;
  font-size: 24px;
}
.small-primary-text {
  color: hsl(163, 73%, 38%);
  font-size: 20px;
}
.small-text {
  font-size: 18px;
}
.primary-cell {
  border: 1.5px solid #1aaa81;
  border-radius: 4px;
  padding: 1px;
}
.primary-header-cell {
  border: 2.5px solid #1aaa81;
  border-radius: 8px;
  padding: 1px;
}
.secondary-text {
  color: #f7850c;
  font-size: 24px;
}
.small-secondary-text {
  color: #f7850c;
  font-size: 20px;
}
.secondary-cell {
  border: 1.5px solid #f7850c;
  border-radius: 4px;
  padding: 1px;
}
.secondary-header-cell {
  border: 2.5px solid #f7850c;
  border-radius: 8px;
  padding: 1px;
}

.primary-bottom-border {
  border-bottom: 2px solid #1aaa81;
}
.bottom-border {
  border-bottom: 2px solid #f7850c;
}
.top-border {
  border-top: 2px solid #f7850c;
}
.save-button {
  /* font-family: "Almarai-Regular", serif; */
  position: fixed; /* You can change this to 'relative' if you want it relative to the body */
  bottom: 40px;
  right: 40px;
  background-color: #1aaa81; /* Updated background color */
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(230, 7, 7, 0.2); /* Box shadow added */
  transition: box-shadow 0.3s ease; /* Smooth transition for the box shadow */
}

.save-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow on hover */
}

.save-button i {
  font-size: 30px;
  margin-left: 10px; /* Adjust icon spacing */
  margin-right: 10px; /* Adjust icon spacing */
}

@media (max-width: 1199px) {
  .pdf-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Optional: Enables smooth scrolling on iOS devices */
    width: 95vw;
  }
  .pdf-table-content {
    width: 1200px;
  }
}

.spinner {
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  background-color: rgba(21, 19, 19, 0.974);
  backdrop-filter: blur(2px);
  position: fixed;
  inset: 0;
  display: none;
  /* width: 100vw;
  height: 100vh; */
  align-items: center;
  justify-content: center;
  z-index: 99999999999 !important;
}

.spinner-border {
  color: #1aaa81;
  border-style: double;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.center-line {
  width: 100%;
  height: 5px;
  background-color: #1aaa81; /* Change the color as needed */
  margin: auto;
}
